.sidebar-component{
    display: inline-block;
    background-color: rgb(25,23,29);
    color: #7b7a7e;
}

.list-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 5px 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.user-list{
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    /* padding: 2rem; */
}

.user:hover{
    background-color: rgb(67, 62, 75);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    cursor: pointer;
}

.cross-mark i{
    font-size: 1.2rem;
}

.user div{
    display: flex;
    gap: 1rem;
}

.user img{
    width: 2rem;
    border-radius: 5px;
}

.user p{
    font-size: 1.2rem;
    font-weight: 500;
}